@model SQLite.WEB.Models.PersonViewModel

@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    dt {
        float: left;
        width: 100px;
        clear: both;
    }

    dd {
        float: left;
    }

    dl {
        clear: both;
        overflow: hidden;
    }
</style>

<h3>@Model.DisplayName</h3>

<p>
    @if (@Model.DisplayAka != "")
    {
        <text>@Model.DisplayAka<br /></text>
    }
    @Model.DisplayYears
</p>

<hr />

<h4>Name variants</h4>

<ul>
    <li>Name: @Model.DisplayName</li>
    <li>Name with AKA: @Model.DisplayNameAka</li>
    <li>Name with typonym: @Model.DisplayNameTyponym</li>
    <li>Name with AKA and typonym: @Model.DisplayNameAkaTyponym</li>
</ul>

<hr />

<h4>Extra names</h4>
@if (!Model.ByNames.Any())
{
    <text><p>No extra names</p></text>
}
<ul>
    @foreach (var byname in Model.ByNames)
    {
        <li>@byname.ByNameType.ToString(): @byname.Name</li>
    }
</ul>

<hr />

<h4>Events</h4>
<dl>
    @foreach (var e in Model.Events)
    {
        <dt>@e.EventType.Name:</dt>
        <dd>
            @e.Date
            @if (e.Place != null && e.Place.Name.Length > 0)
            {
                <text> in @e.Place.Name</text>
            }
            @if (!string.IsNullOrEmpty(e.Description))
            {
                <text> - @e.Description</text>
            }
        </dd>
    }
</dl>

<hr />

<h4>Data</h4>

<dl>
    <dt>@Html.LabelFor(m => m.Id)</dt>
    <dd>@Html.DisplayFor(m => m.Id)</dd>

    <dt>@Html.LabelFor(m => m.FirstName)</dt>
    <dd>@Html.DisplayFor(m => m.FirstName)</dd>
    <dt>@Html.LabelFor(m => m.FatherName)</dt>
    <dd>@Html.DisplayFor(m => m.FatherName)</dd>
    <dt>@Html.LabelFor(m => m.Patronym)</dt>
    <dd>@Html.DisplayFor(m => m.Patronym)</dd>
    <dt>@Html.LabelFor(m => m.LastName)</dt>
    <dd>@Html.DisplayFor(m => m.LastName)</dd>

    <dt>@Html.LabelFor(m => m.Gender)</dt>
    <dd>@Html.DisplayFor(m => m.Gender)</dd>

    <dt>@Html.LabelFor(m => m.BornYear)</dt>
    <dd>@Html.DisplayFor(m => m.BornYear)</dd>
    <dt>@Html.LabelFor(m => m.DeathYear)</dt>
    <dd>@Html.DisplayFor(m => m.DeathYear)</dd>
    <dt>@Html.LabelFor(m => m.Status)</dt>
    <dd>@Html.DisplayFor(m => m.Status)</dd>

    <dt>@Html.LabelFor(m => m.CreatedDate)</dt>
    <dd>@Html.DisplayFor(m => m.CreatedDate)</dd>
    <dt>@Html.LabelFor(m => m.ModifiedDate)</dt>
    <dd>@Html.DisplayFor(m => m.ModifiedDate)</dd>
</dl>

