@model IEnumerable<SQLite.WEB.Models.PersonViewModel>

@{
    ViewBag.Title = "Persons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>First name</th>
            <th>Patronym</th>
            <th>Last name</th>
            <th>Typonym</th>
            <th>Lifespan</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.OrderBy(m => m.LastName).ThenBy(m => m.FirstName))
        {
            <tr>
                <td><a href="@Url.Action("Details", "Person", new {id = person.Id})">@person.FirstName</a></td>
                <td><a href="@Url.Action("Details", "Person", new {id = person.Id})">@person.Patronym</a></td>
                <td><a href="@Url.Action("Details", "Person", new {id = person.Id})">@person.LastName</a></td>
                <td>@person.DisplayTyponym</td>
                <td>@person.DisplayYears</td>
                <td>@person.Gender</td>
                <td>@person.Status</td>
            </tr>
        }
    </tbody>
</table>
