@model IEnumerable<SQLite.WEB.Models.EventViewModel>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th style="width: 15%">Date</th>
        <th style="width: 15%">Event Type</th>
        <th style="width: 35%">Person</th>
        <th style="width: 35%">Place</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.OrderBy(m => m.Date))
        {
            <tr>
                <td>@e.Date</td>
                <td><a href="@Url.Action("Details", "Event", new {id = e.Id})">@e.EventType.Name</a></td>
                <td><a href="@Url.Action("Details", "Person", new {id = e.Person.Id})">@e.Person.DisplayNameTyponym</a></td>
                <td>
                    @if (e.Place != null)
                    {
                        <text>@e.Place.Name</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
