@using SQLite.BLL.Extensions
@model IEnumerable<SQLite.WEB.Models.EventTestViewModel>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date ISO</th>
            <th>Date</th>
            <th>DateString</th>
            <th>Event Type</th>
            <th>Person</th>
            <th>Place</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.OrderBy(m => m.SortDate))
        {
            <tr>
                <td>@e.GenDate.DateFrom.ToIsoString()</td>
                <td>@e.GenDate</td>
                <td>@e.DateString</td>
                <td>@e.EventType.Name</td>
                <td><a href="@Url.Action("Details", "Person", new {id = e.Person.Id})">@e.Person.DisplayNameTyponym</a></td>
                <td>
                    @if (e.Place != null)
                    {
                        <text>@e.Place.Name</text>
                    }
                </td>
                <td>
                    @if (e.Description != null)
                    {
                        <text>@e.Description</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

